
body {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:20px;
    font-family:Arial ,sans-serif;
}
.container{
    display:flex;
    flex-wrap:wrap;
    width:960px;
    height:960px;
    border:2px solid black;
}
.grid-square{
    box-sizing:border-box;
    border:1px solid black;
}
button{
    margin-bottom:20px;
    padding:10px 20px;
    font-size:16px;
}